@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(46, 46, 46);
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("bread.jpg");
  background-size: 1000px 600px;
  border-radius: 300px;
  border: 5px solid rgb(241, 241, 241);

}

mark{
  background-color:rgb(235, 198, 112);
}

